        /* #datetime{
            margin: 2vh auto 3vh auto;
            /* margin-bottom: 2vh; */
        /* }  */

input[type="date"]{
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: 1px solid rgb(28, 26, 26);
    border-radius: 5px;
    height: 4vh;
    width: 20vw;
    padding: 0.5vh;
    font-size: 16px;
    font-weight: 999;
    outline: none;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

input[type='text']{
    height: 5vh;
    width: 20vw;
    padding: 0.5vh;
    font-size: 18px;
    font-weight: 800;
    font-family: Roboto;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(28, 26, 26);
    margin-top: 3vh;
}

button[type="submit"]{
    height: 5vh;
    width: 10vw;
    padding: 1vh;
    margin-top: 6vh;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    /* margin-bottom: 1vh; */
}

#order{
    font-size: xx-large;
    font-weight: 700;
    font-family: Poppins;
    color: rgb(241, 63, 9);
    border-bottom: 2px solid black;
    padding-bottom: -1vh;
}

#order-card{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    align-items: center;
    /* background-color: rgb(241, 63, 9); */
    /* border: 1px solid rgb(32, 30, 30); */
    border-radius: 5px;
    background-image: url("../Assets/order-background/order-pattern.jpg");
    background-size: cover;
    margin: auto;
    margin-bottom: 5vh;
    box-shadow: 2px black;
    border-radius: 50px;
/* background: #e0e0e0; */
box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;
}

#order-form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
}
