.dish-name{
    margin-top: 4vh;
}

.redeem{
    width: 50%;
    height: 4vh;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 0.7vh;
    margin-top: 18vh;
    margin-bottom: 6vh;
}

.redeem-box{
    /* display: none; */
    width: 50vw;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(37, 34, 34); */
    border-radius: 5px;
    margin: auto;
}

/* .dflex{
    display: flex !important;
} */

.redeem-card{
    display: flex;
    width: 90%;
    height: 40vh;
    /* border: 1px solid black; */
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2vh;
    flex-direction: row;
    /* background: url("../Assets/order-background/2395263_13783.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* color: rgb(241, 63, 9); */
    align-items: center;
    /* background-position: 80%; */
    /* border-radius: 50px; */
    /* background: #e0e0e0; */
    /* box-shadow: inset 20px -20px 60px #bebebe,
    inset -20px 20px 60px #ffffff; */
}

.redeem-dish{
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: url('https://static.toiimg.com/thumb/53097626.cms?width=1200&height=900'); */
    justify-content: center;
    background-size: auto;
/* background: #e0e0e0; */
    box-shadow: inset 20px -20px 60px #bebebe,
                /* inset -20px 20px 60px #ffffff; */
    /* border: 1px solid black; */
}